
<div class="container total">
    <div class="row">
      <!-- Left Div -->
      <div class="col-md-9 border d-flex flex-column">
        <h1 class="text-center text-bg-info">Message</h1>
       
        <app-message ></app-message>
        <div class="d-flex my-2 align-items-center">
          <input
            type="text"
            class=" form-control mx-1"
            placeholder="Enter a message to send"
            [(ngModel)]="message"
            
          />
          <button class="btn btn-primary px-4" (click)="handleMessageChange()" >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="white"
              class="bi bi-send"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"
              />
            </svg>
          </button>
        </div>
      </div>
  
      <!-- Right Div -->
      <div class="col-md-3 border">
        <h1 class="text-center text-bg-success">Users</h1>
        <div class="user-box">
          <img src="../../assets/password.gif" alt="User 1" />
          <span>User 1</span>
        </div>
        <div class="user-box">
          <img src="../../assets/password.gif" alt="User 2" />
          <span>User 2</span>
        </div>
        <div class="user-box">
          <img src="../../assets/password.gif" alt="User 2" />
          <span>User 3</span>
        </div>
      </div>
    </div>
  </div>