


<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Argus Chat</a>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'hidden_div':login}" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'hidden_div':login}" routerLink="/login">Login</a>
      </li>

      <li class="nav-item">
              <a class="nav-link" [ngClass]="{'hidden_div':!login}" routerLink="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
